@{
    ViewData["Title"] = "Home Page";
}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    </style>

    <div class="jumbotron" style="text-align:center" >
    <h3 > Learn, Share, Build!</h3 >
    <h4 > Each month, over 50 million users come to QNA to learn, share their knowledge and build their life/careers.</h4 >
    <p > Join the world's largest information community.</p>
    <p >
    Want to ask and search detail of a question?
    </p >
    </div >

    <table >
    <tr >
    <th > Question</th >
    <th > Category</th >
    <th > Posted By</th >
    </tr >
    <tr >
    <td > How to ask your manager for hike?</td >
    <td > Daily Life</td >
    <td > akhil@gmail.com</td >
    </tr >
    <tr >
    <td > How to setup mysql? </td >
    <td > Technology</td >
    <td > jack@hotmail.com</td >
    </tr >
    <tr >
    </table >
